bin/
obj/
.vs/
.vscode/
.idea/
Library/
Temp/
Logs/
UserSettings/
Build/
Builds/
*.user
*.suo
*.csproj.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.db
*.sqlite
*.sqlite3
Statlyn.UnityApp/Builds/
Statlyn.UnityApp/Library/
Statlyn.UnityApp/Logs/
Statlyn.UnityApp/Temp/
Statlyn.UnityApp/UserSettings/
